html{
	border: outset 50px #ffffff;
	background-color:salmon;
}
body{
    zoom: 0.4;
    -moz-transform: scale(0.4);
	width: 2000px;
	margin-right: auto;
	margin-left: auto;
}
p{
	font-weight: bold;
	font-size: 200px;
	color: aliceblue;
	text-align: center;
	line-height: 10%;
}
p.bpm{
	font-size: 300px;
}
.box1{
	width: 2000px;
	height: 1000px;
	border: outset blue 10px;
	margin-top: 100px;
}
#bpbbox{
	font-weight: bold;
	font-size: 200px;
	color: aliceblue;
}
#bpbbox div#bpbbutton{
	width: 300px;
	float: right;
	margin-right: 200px;
	text-align: left;
}
#bpbbox div#haku{
	float: left;
	text-align: right;
	width: 1150px;
	margin-top: 50px; 
}
#bpbbox input.btn{
	display: block;
	float: right;
}
input{
	cursor: pointer;
	border: outset blue 10px;
}
#bpmstart{
	margin-left: 300px;
	margin-top: 100px;
	margin-bottom: 100px;
}
input.btn{
	background-color: red;
	color: skyblue;
	font-size: 100px;
	width: 400px;
	height: 200px;
}
input.box{
	margin-top: 90px;
	font-size: 300px;
	width: 600px;
	height: 300px;
	background-color:salmon;
	font-weight: bold;
	color: aliceblue;
	text-align: right;
}
#bpmimage{
	display: flex;
	height: 1040px;
}
#bpmimage div:first-child{
	margin-left: 100px;
}
#bpmimage div.strong{
	background-color: darkred;!important
}
#bpmimage div:last-child{
	margin-right: 100px;
}
#bpmimage div{
	cursor: pointer;
	border: outset 20px #888;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 2000px;
	height: 800px;
	background-color: darkblue;
	margin-left: 14px;
}
form#timer{
	font-weight: bold;
	font-size: 200px;
	color: aliceblue;
	text-align: center;
	height: 500px;
}
ul{
	display: flex;
	list-style: none;
	justify-content: center;
}
li.plus{
	margin-left: 5%;
}
li.minus{
	margin-right: 5%;
}
input[type="number"]::-webkit-inner-spin-button {
	padding: 30px;
}