*{
    margin: 0px;
    padding: 0px;
}

html{
    color: aliceblue;
    font-size: 28px;
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}